﻿@{
    ViewBag.Title = "Cannot view request";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Cannot view request</h1>
        <p class="govuk-body">
            You cannot view this request. This might be because.
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the request has expired
            </li>
            <li>
                it's already been accepted or declined by you or someone from your organisation
            </li>
        </ul>
        <p>
            <a class="govuk-link" href="https://www.gov.uk/sign-in-apprenticeship-service-account">Sign in to your apprenticeship service account</a> to manage your training providers.
        </p>
    </div>
</div>
