﻿@{
    ViewBag.Title = "Create your apprenticeship service account";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                Create your apprenticeship service account
            </h1>
        </div>
    </div>
</div>
