@using SFA.DAS.Employer.PR.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Employer.PR.Web.Models.Requests.ChangeNamesViewModel

@{
    ViewData["Title"] = "Change name";
}
@section breadcrumb {
    <a class="das-js-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <h1 class="govuk-heading-l">
            Change your name
        </h1>
        <p class="govuk-body">
            Check and change the name you use in your apprenticeship service account.
        </p>
    </div>
    <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteNames.CreateAccountChangeName" method="POST">
                <div esfa-validation-marker-for="@Model.EmployerContactFirstName" class="govuk-form-group">
                    <span asp-validation-for="EmployerContactFirstName" class="govuk-error-message"></span>
                    <div class="govuk-body" id="employerContactFirstName">
                        <label class="govuk-label govuk-label--s" for="employerContactFirstName">
                            First name
                        </label>
                        <input asp-for="EmployerContactFirstName" class="govuk-input govuk-!-width-three-quarters" name="employerContactFirstName" type="text" spellcheck="false" autocomplete="off" sfa-validationerror-class="form-control-error" maxlength="200">
                    </div>
                </div>
                <div esfa-validation-marker-for="@Model.EmployerContactLastName" class="govuk-form-group">
                    <span asp-validation-for="EmployerContactLastName" class="govuk-error-message"></span>
                    <div class="govuk-body" id="employerContactLastName">
                        <label class="govuk-label govuk-label--s" for="employerContactLastName">
                            Last name
                        </label>
                        <input asp-for="EmployerContactLastName" class="govuk-input govuk-!-width-three-quarters" name="employerContactLastName" type="text" spellcheck="false" autocomplete="off" sfa-validationerror-class="form-control-error" maxlength="200">
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                </div>
            </form>
    </div>
</div>
