@using SFA.DAS.Employer.PR.Web.Models.Requests;
@model AccountCreatedConfirmationViewModel
﻿@{
    ViewBag.Title = "Apprenticeship service account created and training provider permissions set";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Apprenticeship service account created and training provider permissions set
            </h1>
        </div>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-6">
            What happens next?
        </h2>
        <p class="govuk-body">
            We’ve emailed you details about your account.
        </p>
        <p class="govuk-body">
            We've told @Model.ProviderNameInUpperCase that you've added them as a training provider and set their permissions. To view and make changes to your training providers and permissions go to <a class="govuk-link" href="@Model.ManageProvidersUrl">Manage training providers</a>.
        </p>
        <p class="govuk-body">
            You can view and download your <a class="govuk-link" href="@Model.ViewAgreementUrl">accepted employer agreement</a>.
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Model.AccountsHomeUrl">Go to Home</a> to manage:
            <ul class="govuk-list govuk-list--bullet">
                <li>apprentices and apprenticeships</li>
                <li>finances</li>
                <li>your account details</li>
            </ul>
        </p>
    </div>
</div>
